/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.message-container {
    margin-top: 20%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
}

h1 {
    color: #FF69B4;
}

button {
    padding: 10px 20px;
    background-color: #FF69B4;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #ff85c3;
}

#surprise img {
    margin-top: 20px;
    border-radius: 10px;
}
